[Unit]
Description=Mount Rclone Encrypted Azure Blob Storage
After=network-online.target

[Service]
User=mdelgert
ExecStart=/usr/bin/rclone mount rclonestorage2-enc:/ /mnt/rclonestorage2-enc --vfs-cache-mode writes --cache-dir /mnt/d1/rclonecache --allow-other --azureblob-chunk-size 128M
ExecStop=/bin/fusermount -u /mnt/rclonestorage2-enc
Restart=always

[Install]
WantedBy=multi-user.target

# sudo nano /etc/fuse.conf # uncomment user_allow_other
# sudo nano /etc/systemd/system/rclone-azureblob.service
# sudo systemctl enable rclone-azureblob
# sudo systemctl start rclone-azureblob
# sudo systemctl stop rclone-azureblob
# sudo systemctl daemon-reload
# sudo systemctl restart rclone-azureblob

